@model Blog.Models.ViewModels.LoginViewModel

<h2>Вход в приложение</h2>
<form method="post" asp-controller="Account" asp-action="Login"
      asp-route-returnUrl="@Model.ReturnUrl">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="RememberMe"></label><br />
        <input asp-for="RememberMe" />
    </div>
    <div>
        <input type="submit" value="Войти" />
    </div>
</form>

<div class="col-md-offset-2">
    <section>
        <h4>Use another service to log in.</h4>
        <hr />
        <form asp-action="ExternalLogin" asp-route-returnurl="@Model.ReturnUrl" method="post" class="form-horizontal">
            <div>
                <p>

                    <button type="submit" class="btn-default" name="provider" value="Google" title="Log in using your Google account">Google</button>
                    <button type="submit" class="btn-default" name="provider" value="Vkontakte" title="Log in using your VK">VK</button>
                </p>
            </div>
        </form>
    </section>
</div>
