@model IEnumerable<Blog.Entities.Models.Vote>

@{
    int CountPlus = Model.Where(u => u.Status == Blog.Entities.Models.VoteStatus.Plus).Count();
    int CountMinus = Model.Where(u => u.Status == Blog.Entities.Models.VoteStatus.Minus).Count();
    int ViewCount = CountPlus - CountMinus;
}

<h4>@ViewCount</h4>

